.contactData {
  margin: auto;
  width: 80%;
  text-align: center;
  box-shadow: 5px 10px 18px #888888;
  padding: 3px;
}
form {
  border: 1px solid black;
}
.Input {
  margin: 10px auto;
  display: block;
}
BtnBorder {
  border: 1px solid black;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
