.InputElement {
  outline: none;
  border: 1px solid black;
  font: inherit;
  background-color: white;
  padding: 6px;
  width: 80%;

  margin: auto;
  box-sizing: border-box;
}
.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
.Label {
  font: bold;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  font: bold;
  color: red;
  width: 100%;
}
.Inputs {
  display: block;
}
